<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET Password</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/media/Mail_(iOS).svg.png" type="image/x-icon">

</head>
<body style="background-image: url(/media/mail_dark_bg.jpg);">
    <div class="container">
        <div class="navbar navbar-expand-lg text-white fw-bolder">
            <img src="/media/Mail_(iOS).svg.png" width="50px" height="50px" alt="">My Mail Recovery 
        </div>
        <div class="row">
            <div class="col-6 bg-dark">
                <form action="{% url 'reset_password' %}" method="post">
                    {% csrf_token %}
                <ul class="p-3">
                    <p><input type="hidden" name="user_name" value="{{key}}"></p>
                    <p class="text-white">New Password<input type="text" name="new_password" class="form-control p-2"></p>
                    <p class="text-white">Confirm Password<input type="text" name="confirm_password" class="form-control p-2"></p>
                    <p><input type="submit" value="Reset Password" class="btn btn-primary"></p>
                 </ul>     
                </form>     
            </div>
        </div>
        </div>
    {% if messages %}
    {% for msg in messages %}
    <script>
        alert("{{msg}}")
    </script>
    {% endfor %}
    {% endif %}  
</body>
</html>