<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>

</head>
<body style="background-image: url(/media/dark-background-stonewall-30040230.webp);">
    <div class="container">
        <div class="navbar navbar-expand-lg">
            <img src="/media/Mail_(iOS).svg.png" width="50px" height="50px" alt=""><h6 class="text-white p-2">&nbsp;&nbsp;&nbsp;Welcome :&nbsp;&nbsp;&nbsp;</h6><b class="text-dark"><a href="{% url 'log_out' %}" class="text-white">Log Out</a>
        </div>
        <div class="row">
            <div class="col-12 bg bg-white p-2">
                
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th>Use Name</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Remarks</th>
                        <th>Actions</th>
                    </tr>
                    {% for i in key %} 
                    <form action="{% url 'blocklist' i.id %}" method="post">
                        {% csrf_token %}                   
                    <tr>
                        <td><input type="hidden" name="contact_id" value="{{i.contact_id_id}}">{{i.contact_id.user_name}}</td>
                        <td><input type="hidden" name="name" value="{{i.name}}">{{i.name}}</td>
                        <td><input type="hidden" name="date" value="{{i.date}}">{{i.date}}</td>
                        <td><input type="hidden" name="time" value="{{i.time}}">{{i.time}}</td>
                        <td><input type="hidden" name="remarks" value="{{i.remark}}">{{i.remark}}</td>
                        <td><input type="submit" value="Block"></td>
                    </tr>
                    </form>
                    {% endfor %}
                
                </table>    
                <li><a href="{% url 'contact' %}">Go Back</a></li>  
        </div>
    </div>    
    {% if messages %}
    {% for msg in messages %}
    <script>
        alert("{{msg}}")
    </script>
    {% endfor %}
    {% endif %}
</body>
</html>