<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Network</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
</head>
<body style="background-image: url(/media/dark-background-stonewall-30040230.webp);">
    <div class="container">
        <div class="navbar navbar-expand-lg text-white fw-bolder">
            <img src="/media/Mail_(iOS).svg.png" alt="no picture" height="50px" width="50px">
            <h7 class="text-bg-success"></h7>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'index' %}" class="text-white text-xxl-end">Go To Index</a>
        </div>
    <script src="/static/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#country').change(function(){
                var id=$('#country').val();
                $.ajax({
                    url:"{% url 'getstate' %}",
                    data:{'cid':id},
                    success:function(data){
                        $('#state').html(data);
                    }
                })
            })
        })
    </script>
    <div class="row">
        <div class="col-4">
            <table>
                <tr>
                    <th>Country</th>
                    <td>
                        <select id="country">
                            <option value="">---select---</option>
                            {% for i in key %}
                            <option value="{{i.id}}">{{i.country_name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                    <tr>
                        <th>State</th>
                        <td>
                        <select id="state">
                            <option value="">---select---</option>
        
                        </select>
                    </td>
                    </tr>
            </table>              
        </div>
        <div class="col-8">
            <img src="/media/gloabl_network.jpg" height="500" width="800">
        </div>
    </div>
</div>
</body>
</html>







